<div id="wrapper">
  <div id="articles">
  	{{#if topics}}
	  	{{#each topics}}
	  		<div class="card border-secondary mb-3" >
				<div class="card-body">
					<h4 class="card-header">{{this.title}}</h4>
					<p class="card-text">{{this.link}}</p>
					<form action="/saved-articles/notes/{{this._id}}" method="GET">
						<button type="button" class="btn btn-info article-btn" data-toggle="modal" data-target="#exampleModal">Article Notes</button>
					</form>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Notes from Article: {{this._id}}</h5>
					      </div>
					      <div class="modal-body">

					       {{> notes}}

					      </div>
					    </div>
					  </div>
					</div>
					<form action="/saved/{{this._id}}" method="POST">
						<button class="btn btn-danger article-btn">DELETE FROM SAVED</button>
					</form>
				</div>
			</div>
	  	{{/each}}
	  {{else}}
  		<div class="card border-secondary mb-3" >
			<div class="card-body no-saved-articles">
				<h4 class="card-title">Uh Oh. Looks like we don't have any saved articles</h4>
			</div>
		</div>
	  {{/if}}
  </div>
</div>
